html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;

    min-width: 960px;
    margin: 0;
    padding: 0;

    color: #000;
    background-color: #fff;
}
a {
    text-decoration: none;
}

/* разное */
.page-title {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    width: 100%;
    margin: 0 0 20px 0;
    padding: 30px 0 30px 30px;

    text-transform: uppercase;

    color: #32425c;
    background-color: #f2f6f8;
}
.visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}
.btn {
    font-size: 14px;
    line-height: 18px;

    padding: 10px 15px;

    text-transform: uppercase;

    color: #fff;
    border-radius: 3px;
    background-color: #ee3643;
}
.btn:hover,
.btn:focus {
    background-color: #ca2c37;
}
.btn:active {
    background-color: #ba2732;
}
/* сетки */
.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}
.main-inner {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
}
.header-shop-info .container {
    display: flex;
}
.header-site-info {
    display: flex;

    min-height: 158px;
    padding-left: 52px;

    justify-content: space-between;
    align-items: flex-start;
}
.category-products {
    width: 700px;
}
/**/
.main-header {
    font-family: Cuprum, Arial, sans-serif;

    margin-bottom: 60px;
    padding-bottom: 60px;

    background-color: #f2f6f8;
}
.inner-page .main-header {
    margin-bottom: 25px;
}
.header-shop-info {
    min-height: 42px;
    margin-bottom: 46px;

    background-color: #293449;
}
.header-shop-info a {
    color: #fff;
}
.site-logo {
    font-size: 24px;
    line-height: 24px;

    width: 220px;
    padding: 12px 0;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}
.logo-wrap .site-logo {
    font-size: 30px;
    line-height: 30px;

    display: block;
    margin-bottom: 32px;
}
.site-logo:hover,
.site-logo:focus {
    background-color: #ca2c37;
}
.site-logo:active {
    background-color: #ba2732;
}
.search {
    font-size: 17px;
    line-height: 18px;

    width: 270px;

    color: #fff;
}
.search input {
    padding: 15px 15px 15px 50px;

    color: #fff;
    border: none;
    background-color: #293449;/*
    background-image: url("../img/search-sprite-white.png");
	background-repeat: no-repeat;
	background-position: center;*/
}
.search input:hover,
.search input:focus {
    background-color: #212a3a;
}
.search input:focus,
.search input:active {
    color: #000;
    background-color: #fff;
    /* background-image: url("../img/search-sprite-red.png");*/
}
.shop-info-btn {
    font-size: 17px;
    line-height: 18px;

    position: relative;

    width: 150px;
    padding: 15px 0;

    text-align: center;

    background-color: transparent;
}
.cart-link,
.wishlist-link {
    position: relative;

    padding-left: 45px;

    text-align: left;
    -ms-text-align-last: auto;
}
.cart-link::before,
.wishlist-link::before {
    position: absolute;
    top: 50%;
    left: 17px;

    width: 17px;
    height: 17px;

    content: '';
    transform: translateY(-50%);

    background-repeat: no-repeat;
}
.cart-link::before {
    background-image: url('../img/cart-icon.svg');
}
.wishlist-link::before {
    background-image: url('../img/icon-bookmark.svg');
}
.shop-info-btn:hover,
.shop-info-btn:focus {
    background-color: #212a3a;
}
.shop-info-btn:active {
    color: rgba(255, 255, 255, .6);
    background-color: #161d29;
}
.not-empty {
    background-color: #ee3643;
}
.not-empty:hover,
.not-empty:focus {
    background-color: #ca2c37;
}
.not-empty:active {
    background-color: #ba2732;
}
.checkout-link {
    background-color: #63a63e;
}
.checkout-link:hover,
.checkout-link:focus {
    background-color: #5fbb2d;
}
.checkout-link:active {
    background-color: #518534;
}
/* секция контактов в шапке */
.site-name {
    font-size: 16px;
    font-style: italic;
    line-height: 23px;

    width: 215px;
    margin: 0;

    color: #ee3643;
}
.contacts-in-header {
    font-size: 14px;
    line-height: 24px;

    width: 270px;
    margin: 0;

    text-align: center;

    color: #32425c;
}
.contacts-in-header span {
    font-size: 21px;
    line-height: 21px;

    display: block;

    margin-bottom: 10px;
    padding: 13px 50px 13px 70px;

    color: #e9292a;
    border: 3px solid #fff;
    background-image: url('../img/icon-phone.svg');
    background-repeat: no-repeat;
    background-position: 16px 13px;
    background-size: 19px 19px;
}
/* навигация пользователя в шапке */
.user-block {
    display: flex;

    width: 280px;
    min-height: 46px;
    margin: 0;
    padding: 0;

    list-style: none;

    justify-content: space-between;
    /*  align-items: ;*/
    flex-wrap: wrap;
}
.user-block li {
    background-color: #fff;
}
.user-block .user-orders,
.user-block .user-profile {
    background-color: transparent;
}
.user-block .user-profile {
    list-style: disc;
}

.login a,
.sing-up a,
.user-name {
    font-size: 21px;
    line-height: 21px;

    color: #000;
}
.login a {
    position: relative;

    display: block;

    padding: 11px 25px 10px 48px;
}
.sing-up a {
    display: block;

    padding: 11px 24px 10px;
}
.login a::before {
    position: absolute;
    top: 50%;
    left: 15px;

    width: 20px;
    height: 17px;

    content: '';
    transform: translateY(-50%);

    opacity: .3;
    background-image: url('../img/icon-login.svg');
    background-repeat: no-repeat;
}
.login a:hover::before,
.login a:focus::before {
    opacity: 1;
}
.login a:active::before {
    opacity: .3;
}
.login a:hover,
.login a:focus,
.sing-up a:hover,
.sing-up a:focus {
    color: #ee3643;
}
.login a:active,
.sing-up a:active {
    color: rgba(0, 0, 0, .3);
}
.user-orders a,
.user-profile a {
    text-decoration: underline;

    color: #32425c;
}
.user-orders a:hover,
.user-profile a:hover,
.user-orders a:focus,
.user-profile a:focus {
    color: #ee3643;
}
.user-orders a:active,
.user-profile a:active {
    color: rgba(50, 66, 92, .3);
}
.user-name {
    width: 100%;
}
/* навигация в шапке */
/*.main-navigation {}*/
.site-navigation {
    display: flex;

    min-height: 55px;
    margin: 0;
    padding: 0;

    list-style: none;

    border-bottom: 5px solid #293449;
    background-color: #32425c;

    flex-wrap: wrap;
    justify-content: space-between;
}
.site-navigation-item a {
    font-family: inherit;
    font-size: 17px;
    line-height: 17px;

    display: block;

    padding: 21px 30px;

    color: #fff;
}
.site-navigation-item a:hover,
.site-navigation-item a:focus {
    background-color: #293449;
}
.site-navigation-item a:active {
    color: rgba(255, 255, 255, .5);
    background-color: #1d2739;
}
/* блок с разделами сайта на главной */
.site-sections {
    margin-bottom: 53px;
}
.site-section-list {
    font-family: Cuprum, Arial, sans-serif;
    font-weight: normal;

    margin: 0;
    padding: 0;

    list-style: none;
}
.site-section-list::after {
    display: table;
    clear: both;

    content: '';
}
.site-section {
    position: relative;

    float: left;

    width: 300px;
    min-height: 123px;
    padding: 20px 23px;

    color: #fff;
    background-repeat: no-repeat;
    background-position: right center;
}


/****
.site-section:nth-child(2)::before {
	position: absolute;
	content: "";
	height: 25px;
	width: 100px;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .3);
}

.site-section:nth-child(2)::after {
	position: absolute;
	content: "";
	height: 22px;
	width: 60px;
	top: 48px;
	left: 27px;
	background-color: rgba(0, 0, 0, .3);
}

****/
.site-section:nth-child(1) {
    margin-right: 20px;
    margin-bottom: 20px;

    background-color: #ffbf47;
    background-image: url('../img/icon-1.svg');
    background-position: right 43px top 30px;
}
.site-section:nth-child(2) {
    margin-right: 20px;
    margin-bottom: 20px;

    background-color: #3bbce3;
    background-image: url('../img/icon-2.svg');
    background-position: right 29px top 33px;
}
.site-section:nth-child(3) {
    margin-bottom: 20px;

    background-color: #dc91d8;
    background-image: url('../img/icon-3.svg');
    background-position: right 30px top 30px;
}
.site-section:nth-child(5) {
    margin-bottom: 20px;

    background-color: #8ed78f;
    background-image: url('../img/icon-4.svg');
    background-position: right 45px top 26px;
}
.site-section:nth-child(6) {
    background-color: #ffc047;
    background-image: url('../img/icon-5.svg');
    background-position: right 31px top 30px;
}
.site-section-name {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;

    margin: 0 0 13px 0;
}
.site-section-link {
    font-size: 14px;
    line-height: 18px;

    display: inline-block;

    min-width: 135px;
    padding: 10px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
}
.site-section-link:hover,
.site-section-link:focus {
    background-color: rgba(0, 0, 0, .2);
}
.site-section-link:active {
    background-color: rgba(0, 0, 0, .3);
}
/* слайдер в блоке разделов сайта на главной */
.categories-slider {
    position: relative;

    float: left;

    width: 620px;
    margin-right: 20px;

    list-style: none;

    color: #fff;
}/****
.categories-slider::before {
	position: absolute;
	content: "";
	height: 36px;
	width: 100px;
	bottom: 0;
	left: 300px;
	background-color: rgba(255, 255, 255, .3);
	z-index: 3;
}****/
.categories-slider button {
    border: none;
}
.categories-slider .slider-indicators,
.categories-slider .slider-btn {
    position: absolute;

    cursor: pointer;

    background-color: transparent;
}
.categories-slider .slider-indicators {
    bottom: 36px;
    left: 295px;

    display: flex;

    width: 40px;
    padding: 0;
}
.slider-indicators button {
    width: 10px;
    height: 10px;
    margin: 0 10px 0 0;
    padding: 0;

    cursor: pointer;

    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #fff;
}
.slider-indicators button.active {
    background-color: #ee3643;
}
.slider-btn-back {
    top: 50%;
    left: 25px;

    width: 22px;
    height: 40px;

    transform: translateY(-50%);

    background-image: url(../img/icon-left.svg);
}
.slider-btn-next {
    top: 50%;
    right: 25px;

    width: 22px;
    height: 40px;

    transform: translateY(-50%);

    background-image: url(../img/icon-right.svg);
}
.categories-slider ul {
    margin: 0 ;
    padding: 0 ;

    list-style: none;
}
.category-slide:last-child {
    display: none;
}
.category-slide {
    position: relative;

    overflow: hidden;

    height: 266px;

    background-color: #ccc;
}
.category-slide header {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 23px 24px;
}
.category-slide .category-link {
    position: absolute;
    bottom: 22px;
    left: 25px;

    padding: 10px 45px;

    border-radius: 3px;
}
.category-slide .category-name {
    font-size: 36px;
    line-height: 36px;

    margin: 0 0 2px 0;

    text-transform: uppercase;
}
.category-slide p {
    font-size: 18px;
    line-height: 24px;

    margin: 0;
}

/* хлебные крошки */
.breadcrumbs {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;

    display: flex;

    width: 100%;
    margin: 0 0 25px 0;
    padding: 0;

    list-style: none;

    text-transform: uppercase;

    color: #000;

    order: -1;
}
.breadcrumbs a {
    font: inherit;

    color: inherit;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
    text-decoration: underline;
}
.breadcrumbs a:active {
    color: #ee3643;
}

/* блоки популярные товары, бренды на главной */
.popular-products {
    /*  margin-bottom: 20px;*/
}
.popular-brands {
    margin-bottom: 85px;
}
.popular-products header,
.popular-brands header {
    display: flex;

    min-height: 90px;
    margin-bottom: 20px;
    padding: 0 25px; /* есть неточности в макете с отступами */

    background-color: #f9f5f0;

    justify-content: space-between;
    align-items: center;
}
.popular-products-link,
.popular-brands-link {
    min-width: 253px;

    text-align: center;
}
.popular-products h2,
.popular-brands h2 {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    margin: 0;

    text-transform: uppercase;

    color: #32425c;
}
.popular-brands-list {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    flex-wrap: wrap;
}
.popular-brands-list li {
    width: 220px;
    margin: 0 20px 20px 0;
}
.popular-brands-list li:nth-child(4n) {
    margin-right: 0;
}
.brand-link {
    display: flex;

    min-height: 145px;

    border: 1px solid #e5e5e5;

    justify-content: center;
    align-items: center;
}
.brand-link:hover,
.brand-link:focus {
    border-color: transparent;
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, .5);
}
.brand-link:active {
    opacity: .3;
    box-shadow: 0 4px 10px 0 rgba(41, 52, 73, .5);
}
/* список товаров и карточка товара */
.popular-products .products-list {
    margin-bottom: 0;
}
.products-list {
    display: flex;

    margin: 0 0 30px 0;
    padding: 0;

    list-style: none;

    flex-wrap: wrap;
}
.category-products .products-list-item:nth-child(3n) {
    margin-right: 0;
}

.products-list-item {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 220px;
    margin: 0 20px 20px 0;
    padding: 20px 10px;

    text-align: center;

    border: 1px solid #e5e5e5;

    align-items: center;
    justify-content: space-between;
}
.products-list-item:hover {
    border-color: transparent;
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, .5);
}

/**********
.products-list-item::before {
	position: absolute;
	content: "";
	height: 100px;
	width: 20px;
	top: 126px;
	left: 0;
	background-color: rgba(0, 0, 0, .3);
	z-index: 3;
}
*/
.products-list-item:last-child {
    margin-right: 0;
}
.products-list-item:hover,
.products-list-item:focus {
    border: 1px solid #e5e5e5;
}
.products-list-item img {
    margin-bottom: 27px;

    order: -1;
}
.products-list-item .product-name {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;

    margin: 0 0 11px 0;

    color: #000;
}
.product-name a {
    font: inherit;

    color: inherit;
}
.product-price {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;

    text-transform: uppercase;
}
.product-price .old-price {
    display: block;

    min-height: 18px;
    margin-bottom: 10px;
    padding-left: 14px;

    text-decoration: line-through;

    color: #a9a9a9;
}
.product-price .price {
    position: relative;

    display: block;

    padding: 10px 21px 10px 37px;

    cursor: pointer;

    color: #fff;
    background-color: #ee3643;
}
.product-price .price::after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    width: 38px;
    height: 38px;

    content: '';
    transform: translate(50%) rotate(45deg) scale(.72);

    background-color: #ee3643;
}
.product-links {
    position: absolute;
    top: 45px;

    display: none;

    min-width: 135px;

    background-color: #fff;
}
.products-list-item:hover .product-links {
    display: block;
}
.products-list-item:hover img {
    opacity: 0;
}
.add-in-cart,
.add-in-wishlist {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;

    display: block;

    padding: 7px;

    text-transform: uppercase;

    color: #32425c;
    border: 3px solid #63a63e;
    border-radius: 3px;
}
.add-in-cart {
    position: relative;

    margin-bottom: 7px;

    color: #fff;
    border-bottom-color: #367315;
    background-color: #63a63e;
}
.add-in-cart::before {
    position: absolute;
    top: 50%;
    left: 11px;

    width: 17px;
    height: 17px;

    content: '';
    transform: translateY(-50%);

    opacity: .3;
    background-image: url('../img/cart-icon.svg');
    background-repeat: no-repeat;
}
.add-in-cart:hover::before {
    opacity: 1;
}
.add-in-cart:hover,
.add-in-cart:focus {
    border-color: #5fbb2d;
    border-bottom-color: #367315;
    background-color: #5fbb2d;
}
.add-in-cart:active {
    border-color: #518534;
    background-color: #518534;
}
.add-in-wishlist:hover,
.add-in-wishlist:focus {
    border-color: #32425c;
}
.add-in-wishlist:active {
    color: rgba(50, 66, 92, .3);
    border-color: rgba(50, 66, 92, .3);
}
/* фильтр и сортировка товаров */
.filter {
    width: 220px;
}
.sorting {
    display: flex;

    margin-bottom: 20px;

    align-items: center;
}
.filter h2 {
    margin: 0 0 16px 0;
    padding: 12px 0 12px 20px;
}
.sorting h3 {
    margin: 0;
    padding: 12px 0 12px 20px;
}
.filter,
.filter h2,
.sorting h3,
.link-sort {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;

    text-transform: uppercase;

    color: #000;
}
.link-sort {
    color: rgba(0, 0, 0, .3);
    border-bottom: 1px dotted #ee3643;
}
.link-sort:hover,
.link-sort:focus {
    color: #000;
    border-bottom-style: solid;
}
.link-sort.active,
.link-sort:active {
    color: #ee3643;
    border: none;
}

.filter h2,
.sorting {
    background-color: #f7f3ec;
}
.filter fieldset {
    margin: 0;
    padding: 0;

    border: none;
}
.filter fieldset:not(:last-of-type) {
    border-bottom: 1px solid #e5e5e5;
}
.filter legend {
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;

    text-transform: uppercase;

    color: #000;
}
.filter label {
    font-size: 15px;
    line-height: 20px;

    display: block;
}
.filter button {
    text-transform: uppercase;

    border: 1px solid #e5e5e5;
    background-color: #fff;
}
/* пагинация */
.pagination {
    display: flex;

    margin: 0 0 60px 0;
    padding: 0;

    list-style: none;
}
.pagination .display-none {
    display: none;
}
.pagination a {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;

    text-transform: uppercase;

    color: #000;
    border: 1px solid #e5e5e5;
}
.pagination a:hover,
.pagination a:focus {
    border-color: #bdc6ca;
}
.pagination a:active {
    border-color: #ee3643;
}
.current a {
    color: #fff;
    background-color: #ee3643;
}
/* секция сервисы */
/*
.services::before {
	position: absolute;
	content: "";
	height: 31px;
	width: 407px;
	top: 262px;
	left: 400px;
	background-color: rgba(0, 0, 0, .3);
	z-index: 3;
}*/
.services {
    /** временно -> **/ position: relative;

    margin-bottom: 75px;
    padding: 65px 0 0 0;

    background-color: #f4f8f9;
}
.services-inner {
    display: flex;

    min-height: 280px;

    outline: 1px solid red;

    align-items: flex-start;
    justify-content: space-between;
}
.services-inner > * {
    outline: 1px solid orange;
}
.services h2 {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;

    margin: 0 0 27px 0;

    text-transform: uppercase;
}
.services-info {
    width: 400px;
    margin-bottom: 67px;
}
.tabs-wrap {
    width: 620px;
}
.nav-tabs {
    position: relative;

    width: 240px;
    margin: 0;
    padding: 0;

    list-style: none;
}
.nav-tabs::before {
    position: absolute;
    top: 50%;
    left: 230px;

    width: 10px;
    height: 280px;

    content: '';
    transform: translateY(-50%);

    outline: 1px solid blue;
    background-image: url(../img/shadow.png);
}
.nav-item a {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;

    display: block;

    padding: 15px 23px;

    color: #fff;
    border-top: 1px solid #4d637b;
    background-color: #32425c;
}
.nav-item a:hover,
.nav-item a:focus {
    background-color: #293449;
}
.nav-item.active a,
.nav-item a:active {
    color: #32425c;
    border-top-color: transparent;
    background-color: #fff;
}

.service.active {
	display: block; /* временно */
}

.service {
	display: none;
    min-height: 285px;
    margin-bottom: 0 !important;

    outline: 1px solid green;
    background-repeat: no-repeat;
    background-position: right center;
}
.service h3 {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 36px;

    margin: 0 0 25px 0;

    text-transform: uppercase;

    color: #32425c;
}
.service p {
    max-width: 380px;
    margin: 0 0 34px 0;
}
.service-delivery {
    background-image: url('../img/service-1.png');
    background-position: right 0 top 24px;
}
.service-guarantee {
    background-image: url('../img/service-2.png');
}
.service-credit {
    background-image: url('../img/service-3.png');
}
/* секции о нас и контакты */
.about-in-homepage {
    display: flex;

    justify-content: space-between;
}
.about {
    width: 540px;
}
.contacts {
    width: 300px;
}
.about h2,
.contacts h2 {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    margin: 0;

    text-transform: uppercase;
}
.about .partner-list {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;

    margin: 0;
    padding: 0;

    list-style: none;
}
/* подвал сайта */
.main-footer {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;

    margin-top: 85px;

    color: #fff;
    background-color: #32425c;
}
.inner-page .main-footer {
    margin-top: 0;
}
.main-footer-inner {
	position: relative; /* временно */
    display: flex;

    justify-content: space-between;
}
.main-footer-inner::before {
		position: absolute;
	content: "";
	height: 37px;
	width: 173px;
	top: 12px;
	left: 10px;
	background-color: rgba(255, 255, 255, .3);
	z-index: 3;
}
.footer-menu,
.categories-menu {
    display: flex;

    width: 550px;
    margin: 0;
    padding: 0;

    list-style: none;

    text-align: center;

    justify-content: space-between;
}
.footer-menu-item a {
    font: inherit;

    color: inherit;
}
.footer-menu-item a:hover,
.footer-menu-item a:focus {
    text-decoration: underline;
}
.footer-menu-item a:active {
    text-decoration: none;

    color: rgba(255, 255, 255, .5);
}
.categories-menu-item a {
    font: inherit;

    color: #ffd180;
}
.categories-menu-item a:hover,
.categories-menu-item a:focus {
    text-decoration: underline;
}
.categories-menu-item a:active {
    text-decoration: none;

    color: rgba(255, 209, 128, .5);
}
.footer-bottom-bg {
    font-size: 16px;
    line-height: 18px;

    background-color: #293449;
}
.footer-bottom-bg .container {
    display: flex;

    justify-content: space-between;
}
.copyright {
    width: 230px;
    margin-right: 160px;
}
.socials {
    display: flex;

    width: 160px;
    margin: 0 100px 0 0;
    padding: 0;

    list-style: none;
}
.social-btn {
    background-color: #212a3a;
    background-repeat: no-repeat;
    background-position: center;
}
.social-btn:hover,
.social-btn:focus,
.social-btn:active {
    background-color: #ee3643;
}
.social-btn-vk {
    background-image: url('../img/vk-icon.svg');
}
.social-btn-fb {
    background-image: url('../img/fb-icon.svg');
}
.social-btn-inst {
    background-image: url('../img/insta-icon.svg');
}
.feedback {
    width: 140px;
    margin-right: auto;
}
.developed {
    width: 110px;
}

.feedback a,
.developed a {
    font: inherit;

    display: block;

    color: #ffd180;
}
.feedback a:hover,
.developed a:hover,
.feedback a:focus,
.developed a:focus {
    text-decoration: underline;
}
.feedback a:active,
.developed a:active {
    text-decoration: none;

    color: #ee3643;
}
/* модальные окна */
.modal {
    display: none; /* временно */
}
.modal-map {
    background-color: #565656;
}
.modal-map button,
.modal-write-us button,
.modal-product-added button {
    border: none;
}
.modal-write-us {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;

    color: #000;
}
.modal-write-us input {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;

    color: #999;
    border: 2px solid #dee3e4;
}
.modal-write-us *::placeholder {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}
.modal-write-us input:hover,
.modal-write-us textarea:hover {
    border-color: #b5b5b5;
}
.modal-write-us input:focus,
.modal-write-us textarea:focus {
    border-color: #ee3643;
}
.modal-product-added {
    text-align: center;

    background-color: #f1f1f1;
}
.modal-product-added h2 {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    background-color: #fff;
    background-image: url('../img/form-1.svg');
    background-repeat: no-repeat;
    background-position: left center;
}
.modal-product-added .continue-shopping {
    background-color: #fff;
}
/* описание категории */
.category-description {
    padding: 65px 0;

    background-color: #f2f6f8;
}
.category-description h2 {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    margin: 0 0 35px 0;

    text-transform: uppercase;
}
